@font-face {
    font-family: "Ubuntu";
    src: url("../fonts/Ubuntu/Ubuntu-Regular.ttf");
}
@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald/Oswald-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Medium.ttf");
}

nav {
  background-color: #000;
  opacity: .7;
}
nav a{
  color: #fff;
}

nav a:hover{
  color: orangered !important;
}

.carousel-subtitle {
font-size: 50px;
font-family: Ubuntu;
}

.carousel-indicators .active {
  background-color: orangered !important;
}
.carousel-indicators li {
  width: 90px !important;
}

/* css redes sociales */
.social-bar{
  position: fixed;
  right: 0;
  top: 35%;
  font-size:  1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 100;
}

.icon{
  color: white;
  text-decoration: none;
  padding: .7rem;
  display: flex;
  transition: all .5s;
}

.icon-facebook{
  background: #2e406e;

}

.icon-twitter{
  background: #339dc5;
}

.icon-youtube{
  background: #e83028;
}

.icon:first-child{
  border-radius: 1rem 0 0 0;
}

.icon:last-child{
  border-radius: 0 0 0 1rem;
}

.icon:hover{
  padding-right: 3rem;
  border-radius: 1rem 0 0 1rem;
  box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
}

/* fin */

.proposal {
background-image:url("../assets/foto2@2x.png");
background-size: cover;
height: 700px;
padding-top: 100px;
padding-left: 25%;
padding-right: 25%;
}
.proposal .title{
  font-size: 60px;
  font-family: Oswald;
}
.proposal .text{
  font-family: Roboto;
  line-height: 2; 
}

.chef{
  font-family: Oswald;
}
.menu{
	width: 250px;
	height: 200px;
}

.event{
  background-image:url("../assets/foto3@2x.png");
  background-size: cover;
  height: 700px;
  padding-top: 100px;
  padding-left: 25%;
  padding-right: 25%;
}

.event h1, h3{
  color: #ffff;
  font-family: Oswald;
  text-align: center;
}

.event h1{
  font-size: 60px;
}

.event p{
  text-align: justify;
  color: #ffff;
}

.event .imgs{
  display:block;
  margin:auto;
  width: 150px;
  height: 100px;
}

.event .fas{
  color: #fff;
  text-align: center;
}


.comentarios .icons{
  width: 20px;
  height: 20px;
}
.pie{
  background-color: #760622;
}

.pie p, h6{
  color:  white;
}
.pie .imgs{
   padding: 4em;
}

.pie .titulos{
 
}